:root {
    --primaryColor: #3572EF;
    --darkprimary: #050C9C;
    --lightprimary: #A7E6FF;
    --secondaryColor: #3ABEF9;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('../İmg/19366.jpg') no-repeat;
    background-position: center;
    background-size:cover;
    
    position:relative
    
}

.giris {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid var(--lightprimary);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px rgba(5,12,156,.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.giris .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--darkprimary);
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--darkprimary);
    margin: 30px 0;
    transition: .5s;
}

    /*inputlara tıklandığında labeleri yukarı kaldırır*/
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box label {
    position: absolute;
    color:var(--darkprimary);
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-weight: 500;
    pointer-events: none;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    padding: 0 35px 0 5px;
    color: var(--darkprimary);
}
.input-box .input {
    width: 100%;
    height:70%;  
    color: var(--darkprimary);
}
.input-box .label{
     position: absolute;
    color:var(--darkprimary);
    top: 0;
    left: 5px;
    transform: translateY(-50%);
    font-weight: 500;
    pointer-events: none;
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.5rem;
    color: var(--darkprimary);
    line-height: 50px
}

.remember-forgot {
    font-size: .9rem;
    color: var(--darkprimary);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: var(--darkprimary);
    margin-right: 3px;
}

.remember-forgot a {
    color: var(--darkprimary);
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.button {
    width: 100%;
    height: 45px;
    background-color: var(--darkprimary);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: aliceblue;
    font-weight: 500;
}

.login-register {
    font-size: .9rem;
    color: var(--darkprimary);
    text-align: center;
    font-weight: 400;
    margin: 25px 0 10px;
}

.login-register p a {
    color: var(--darkprimary);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .giris {
        width: 300px;
        height: 320px;
    }

    .form-box h2 {
        font-size: 1.5rem;
    }

    .input-box {
        width: 100%;
        height: 35px;
        margin: 15px 0;
    }

        .input-box input:focus ~ label,
        .input-box input:valid ~ label {
            top: -3px;
        }

        .input-box .icon {
            font-size: 1rem;
            line-height: 42px
        }

  .button {
        height: 35px;
    }

    .login-register {
        font-size: .9rem;
        font-weight: 300;
        margin: 15px 0 5px;
    }
}

/*Ana sayfaada lazım olabileckler*/
#body2 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding:30px;
}

.giris2 {
    background: transparent;
    border: 2px solid var(--lightprimary);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 50px rgba(5,12,156,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:25rem;
}

.form-box {
    width: 100%;
    padding: 30px;
}

.form-box p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--darkprimary);
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}
/* Kart ve butonları*/

.box {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    z-index: 1;
}

    .box::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 50px;
        width: 50%;
        height: 100%;
        text-decoration: none;
        background: #fff;
        border-radius: 8px;
        transform: skewX(15deg);
        transition: 0.5s;
    }

    .box::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50;
        width: 50%;
        height: 100%;
        background: #fff;
        border-radius: 8px;
        transform: skewX(15deg);
        transition: 0.5s;
        filter: blur(30px);
    }

    .box:hover:before,
    .box:hover:after {
        transform: skewX(0deg) scaleX(1.3);
    }

    .box:before,
    .box:after {
        /* background: linear-gradient(315deg, #ffbc00, #ff0058) */
        background: linear-gradient(315deg, #3572EF, #A7E6FF)
    }


    .box .contentt {
        position: relative;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        z-index: 1;
        transform: 0.5s;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .box .contentt h2 {
            font-size: 20px;
            color: #fff;
            margin-bottom: 10px;
        }



/* From Uiverse.io by gharsh11032000 */
.Kart {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}

    .Kart::before {
        content: '';
        position: absolute;
        inset: 0;
        left: -5px;
        margin: auto;
        width: 200px;
        height: 264px;
        border-radius: 10px;
        background: linear-gradient(-45deg, var(--darkprimary) 0%, var(--lightprimary) 100% );
        z-index: -10;
        pointer-events: none;
        transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .Kart::after {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        background: linear-gradient(-45deg, var(--secondaryColor) 0%, var(--primaryColor) 100% );
        transform: translate3d(0, 0, 0) scale(0.95);
        filter: blur(20px);
    }

    .Kart:hover::after {
        filter: blur(30px);
    }

    .Kart:hover::before {
        transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
    }

/* From Uiverse.io by cssbuttons-io */
.KardButton {
    padding: 1em 0.5em;
    font-size: 12px;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 500;
    color: var(--darkprimary);
    background-color:var(--lightprimary);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.KardButton:hover {
    background-color: var(--darkprimary);
    box-shadow: 0px 15px 20px var(--primaryColor);
    color: #fff;
    transform: translateY(-7px);
}

.KardButton:active {
    transform: translateY(-1px);
}


/*Register2 form*/
/* From Uiverse.io by ammarsaa */
/* From Uiverse.io by ammarsaa */
.register {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
   
    position: relative;
    background-color:transparent;

}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #00bfff;
}

.title::before {
    width: 18px;
    height: 18px;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #00bfff;
}

.message {
    font-size: 10px;
    color: red;
}

.signin {
    text-align: center;
}

.signin a:hover {
    text-decoration: underline royalblue;
}

.signin a {
    color: #00bfff;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.register label {
    position: relative;
}

.register label .input {
    background-color: var(--lightprimary);
    color: var(--primaryColor);
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
.selectBox {
    width: 100%;
    background-color: var(--lightprimary);
    color: var(--darkprimary);
    padding: 10px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius:10px;
}

.register label .input + span {
    color: var(--darkprimary);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

    .register label .input:placeholder-shown + span {
        top: 12.5px;
        font-size: 0.9em;
    }

    .register label .input:focus + span,
    .register label .input:valid + span {
        color: var(--darkprimary);
        top: 0px;
        font-size: 0.7em;
        font-weight: 600;
    }

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
}

    .submit:hover {
        background-color: #00bfff96;
    }

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}