
@{
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
@model CreateHastaModel

<div id="body2">
    <div class="giris2">
        <div class="form-box">
            
            <form class="register" asp-controller="Hasta" asp-action="CreateHasta">
                <p class="title">Hasta Kayıt </p>
                <div asp-validation-summary="All" class="message"></div>


                <label>
                    <input class="input" asp-for="Fullname">
                    <span>Fullname</span>
                </label>
                <label>
                    <span>DateofBirth</span>
                    <input class="input" asp-for="DateofBirth">
                   
                </label>
                <label>
                    <input class="input" asp-for="HastallikBikgisi">
                    <span>HastlıkBilgisi</span>
                </label>

                <label>
                    <select asp-items="@ViewBag.doktorlar" asp-for="DoktorId" class="selectBox">
                        <option disabled selected >Doktor Seçiniz</option>
                    </select>
                </label>
                <button type="submit" class="submit">Kaydet</button>
                <button class="submit" asp-action="ListHasta" asp-controller="Hasta">Geri dön</button>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}