@{
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
@model Doktor

<div id="body2">
    <div class="giris2">
        <div class="form-box">
            

            <form class="register" asp-controller="Doktor" asp-action="UpdateDoktor">
                <p class="title">Update Doktor </p>
                <div asp-validation-summary="All" class="message"></div>
                <input type="hidden" value="@Model.DoktorId" asp-for="DoktorId" />

                <label>
                    <input class="input" asp-for="DoktorFUllname">
                    <span>Fullname</span>
                </label>

                <label>
                    <select asp-items="@ViewBag.alanlar" asp-for="AlanId" class="selectBox">
                        <option disabled selected value="AlanId">Alan Seçiniz</option>
                    </select>
                </label>
                <button type="submit" class="submit">Kaydet</button>
                <button class="submit" asp-action="DoktorIndex" asp-controller="Doktor">Geri dön</button>

            </form>

        </div>
    </div>
</div>
