@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UpdateUserMode


<div id="body2">

    <div class="giris2">
        <div class="form-box ">
            <form class="register" asp-controller="Kullanici" asp-action="KullaniciUpdate">
                <p class="title">Update </p>
                <div asp-validation-summary="All" class="message"></div>
                <input type="hidden" asp-for="UserId" />
                <div class="flex">
                    <label>
                        <input class="input" asp-for="Fullname">
                        <span>Fullname</span>
                    </label>

                    <label>
                        <input class="input" asp-for="Username">
                        <span>Username</span>
                    </label>
                </div>

                <label>
                    <input class="input" asp-for="email">
                    <span>Email</span>
                </label>

              
                <label>
                    <select asp-for="Role" class="selectBox">
                        <option disabled selected value="Role">Role Seçiniz</option>
                        <option value="admin">Admin</option>
                        <option value="sekreter">Sekreter</option>

                    </select>
                </label>
                <button class="submit" asp-action="KullaniciUpdate"  asp-controller="Kullanici">Kaydet</button>
                <button class="submit" asp-action="AnaSayfa" asp-controller="Admin">Geri dön</button>

            </form>
        </div>
    </div>
</div>