<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AplicationWebUi</title>
    <link rel="stylesheet" href="~/Csslerim/AnaSayfa.css" />
    <link rel="stylesheet" href="~/Csslerim/style.css">  
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header id="header">
        <div class="cont">
            <div class="arkplan">
                <nav class="main-nav">
                    <a href="index.html" class="logo">Hastahane</a>
                    <ul class="main-nav__items">           
                        <li><a asp-controller="Kullanici" asp-action="Deneme">Home</a></li>
                        <li><a asp-controller="AcilServiAlan" asp-action="List">Hastalar</a></li> 
                        <li><a asp-controller="Doktor" asp-action="ListDoktor">Doktor</a></li>
                        <li><a asp-controller="Kullanici" asp-action="Login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
      
    </header>
    <main >
        <div class="container">
            @RenderBody()
        </div>
       
    </main>

    <footer class="footer arkplan">
        <div class="container">
            &copy; 2024 - AplicationWebUi - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

