<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AplicationWebUi</title>

    <link rel="stylesheet" href="~/Csslerim/style.css">
</head>
<body style="margin:0;">

    @RenderBody()
   
</body>
</html>

