@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hastanemize Hoşgeldiniz</h1>
    <hr />
    <p style="color:blue">Programımıza Giriş için Lütfen Giriş Yapınız</p>
    <p style="color:blue">Hesabınız Yoksa Lütfen Yöneticiyle iletişime geçiniz!</p>
</div>
