@using System.Security.Claims


<div class="container">
    <div class="text-center">
        <h1>Merhaba</h1>
        <h3 class="animate__animated animate__rubberBand">Hoşgeldiniz @User.FindFirst(ClaimTypes.Name).Value</h3>
    </div>
</div>
