@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row ">
        <h1 class="text-center animate__animated animate__flipInX">Admin Sayfası</h1>
        <hr />
        <div class="col-4">
            <div class="Kart">
                <a class="KardButton" asp-action="Register" asp-controller="Kullanici">Kullanıcı Oluştur</a>
            </div>
        </div>
        <div class="col-8">
            <h3 class="text-center">Kullanıcılar</h3>
            <hr />

            <div class="container ">
                <div class="flex mb-3">
                    <a id="reload" class="KardButton" data-ajax-method="Get" data-ajax="true" data-ajax-url="/Admin/UserListPartial" data-ajax-update="#panel"><i class="fa-solid fa-rotate"></i> Reload</a>

                </div>
                <div class="box">
                   
                    <div id="panel"  class="contentt">
                       
                    </div>
                </div>
               
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {
            reload.click();
        });
    </script>

    @if (ViewData["result"] != null)
    {
        <script>
            toastr["success"](@ViewData["message"], "Başarılı");
        </script>
    }
}






