@{
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
@model AcilServisAlan

<div id="body2" >
    <div class="giris2">
        <div class="form-box">
            <form class="register" asp-controller="AcilServiAlan" asp-action="Create">
                <p class="title">Create Acil Servis Alan </p>
                <div asp-validation-summary="All" class="message"></div>


                <label>
                    <input class="input" asp-for="AlanName">
                    <span>AlanName</span>
                </label>

              
                <button type="submit" class="submit">Kaydet</button>
                <button class="submit" asp-action="AcilServisIndex" asp-controller="AcilServiAlan">Geri dön</button>
            </form>
        </div>
    </div>
</div>
