@{
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
@model List<AcilServisAlan>

<div class="container">
    <div class="row">
        <h1 class="text-center animate__animated animate__flipInX">Acil Servis Alanları</h1>
        <hr />
        <div class="col-4">
            <div class="Kart">
                <a class="KardButton" asp-controller="AcilServiAlan" asp-action="Create" class="btn btn-primary">New Alan</a>
            </div>
        </div>
        <div class="col-8">
            <h3 class="text-center">Şu An Hastanemizde bulunan Acil Alanlar</h3>
            <hr />
            <div id="body2">
                <div class="giris2">
                    <div class="form-box">
                        <div class="row">
                            <div class="container">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Alan Id</th>
                                            <th scope="col">Alan Name</th>
                                            <th scope="col">İşlemmler</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.AlanId</td>
                                                <td>@item.AlanName</td>
                                                <td>
                                                    <a asp-controller="AcilServiAlan" asp-action="UpdateAlan" asp-route-id="@item.AlanId" class="btn btn-dark btn-sm" style="background-color:#3572EF;">update</a>
                                                    <a asp-controller="AcilServiAlan" asp-action="DeleteAlan" asp-route-id="@item.AlanId" class="btn btn-danger btn-sm">Sil</a>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>