
@{
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
@model AcilServisAlan



<div id="body2">
    <div class="giris2">
        <div class="form-box">            
            <h2>Hasta Update</h2>

            <form asp-controller="AcilServiAlan" asp-action="UpdateAlan" methd="post">
                <div class="input-box">
                    @* <span class="icon"> <ion-icon name="mail-outline"></ion-icon></span> *@
                    <input type="text" asp-for="AlanName" value="@Model.AlanName" />
                    <label asp-for="AlanName"></label>
                </div>
                <button type="submit" class="button">Kaydet</button>
            </form>
        </div>
    </div>

</div>